.image-modal{
  .modal{
    .modal-img{
      height: 20px !important;
    }
  }
}

.modal-img{
  height: 80vh;
  border-radius: 50px !important;
}

.modal-box{
    border-radius: 50px !important;
}

.close-icon{
  position: absolute !important;
  top: -20px;
  right: -50px;
}

.close-icon{
  background-color: rgb(49, 49, 49, 0.6) !important;
  color: white !important;
}