.slider-block {
  background-color: #EFEFEF;
  padding: 50px 0;
  .slider-container {
    position: relative;
    .home-slide-Item{
      padding: 20px;
      display: flex !important;
      justify-content: center;
      align-items: center;
      .item-text-block{
        max-width: 40%;
        .item-header{
          font-size: 48px;
          font-family: 'Roboto-Light', sans-serif;
          font-weight: 200;
        }
        .item-description{
          font-size: 30px;
          font-family: 'Roboto-Light', sans-serif;
          margin: 10px 0;
          font-weight: 700;
        }
        .item-prg{
          font-family: 'Roboto-Light', sans-serif;
          font-size: 18px;
          margin: 16px 0;
          line-height: 1.4;
        }
      }
      .item-img{
        display: block;
      }
    }

    .slick-next:before {
      background-color: #56ae6c;
      content: '';
      width: 50px;
      height: 50px;
      display: block;
      transform: rotate(180deg);
      clip-path: polygon(65% 15%, 30% 50%, 65% 85%, 50% 100%, 0% 50%, 50% 0);

    }

    .slick-prev:before {
      background-color: #56ae6c;
      content: '';
      width: 50px;
      height: 50px;
      display: block;
      clip-path: polygon(65% 15%, 30% 50%, 65% 85%, 50% 100%, 0% 50%, 50% 0);
    }

    .slick-dots li {
      margin: 0 20px !important;
    }

    .slick-dots li button:before {
      content: '';
      display: block;
      width: 50px;
      height: 5px;
      background-color: #56ae6c;
      cursor: pointer;
    }

  }
}

