.about-us-block{
  background-color: #59ab6e;
  padding: 100px 0;
  .about-us-cont{
    align-items: center;
    padding: 15px;
    .text-block{
      font-family: 'Roboto-Light', sans-serif;
      .about-us-h2{
        font-size: 40px;
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 400;
        color: white;
        margin: 10px 0;
      }
      .about-us-prg{
        color: white;
        font-size: 18px;
        line-height: 1.4;
      }
    }
    .about-us-img{
      width: 420px;
    }
  }
}