@import "../../../assets/styles/index";
.shop-categories{
  font-family: 'Roboto-Light', sans-serif;
  padding: 50px 0 !important;
  @include screen($wide-m){
    padding: 50px 20px !important;
  }
  @include screen($tablet-w){
    flex-direction: column;
    padding: 20px !important;
  }
  @include screen($mobile-m){
  padding: 0 !important;
  }
}

