.navigation-cont{
  box-shadow: 0 8px 16px rgba(0,0,0,.15);
  z-index: 111;
  position: relative;
    .contacts-cont{
      background-color: #212934;
      padding: 10px 0;
      .header-contacts{
        .mail-number{
          .links{
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            text-decoration: none;
            color: white;
            margin-right: 20px;
            font-size: 14px;
            .link-p{
              margin-left: 10px;
            }
          }
        }
        .web-sites{
          .links{
            color: white;
            text-decoration: none;
            font-size: 12px;
            margin: 0 5px;
          }
        }
      }
    }
  .navigation-block{
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
    .Zay-logo{
      font-size: 48px;
      color: #59ab6e;
      font-weight: 500;
      text-decoration: none;
    }
    .navigation-block{
      .nav-link{
        color: rgba(0,0,0,.55);
        font-size: 18px;
        margin: 0 35px;
        text-decoration: none;
        font-weight: 100;
        &:hover{
          color: #59ab6e;
        }
      }
    }
    .nav-tools{
      .tools-link{
        color: #212529;
        text-decoration: none;
        font-size: 22px;
        margin: 0 10px;
      }
      .icon-cart-arrow-down{
        position: relative;
        .cart-count{
          display: block;
          position: absolute;
          top: -6px;
          right: -12px;
          padding: 3px 8px;
          border-radius: 10px;
          font-size: 12px;
          background-color: #E9EEF5;
          font-weight: 600;
          font-family: 'Roboto', sans-serif;
        }
      }
    }
  }
}