@import "mixin";
.G-container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;

}
.G-flex{
  display: flex;
}
.G-flex-between{
  justify-content: space-between;
}
.G-align-center{
  align-items: center;
}