@import "../../assets/styles/index";
.cart-block {
  padding: 20px 0;
  flex-direction: column;
  align-items: end;
  position: relative;
  scroll-behavior: smooth;

  .items-cont{
    width: 100%;
    padding: 0 200px;
    flex-direction: column;
    align-items: end;
    @include screen($tablet-l){
      padding: 0 100px;
    }
    @include screen($tablet){
      padding: 0 10px;
    }
  }

  .cart-item-block {
    width:100%;
    margin: 10px auto;
    padding: 5px;
    height: 130px;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    @include screen($tablet-m){
      height: 100px;

    }

    .img-block {
      overflow: hidden;
      border-radius: 20px;

      .item-img {
        cursor: pointer;
        height: 120px;
        border-radius: 20px;
        transition: 0.3s ease-in-out;
        @include screen($tablet-m){
height: 90px;
        }

        &:hover{
          transition: 0.3s ease-in-out;
          transform: translateY(50%) scale(2);
        }
      }
    }

    .name-desc {
      width: 60%;
      font-family: 'Roboto-Light', sans-serif;
      @include screen($tablet-m){
width: 55%;
        padding-left: 5px;
      }

      .item-name {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 5px;
        @include screen($tablet-l){
          font-size: 22px;
        }
        @include screen($tablet-m){
          font-size: 14px;
        }
      }
      .item-description {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 5px;
        @include screen($tablet-l){
margin: 10px 0;
        }
        @include screen($tablet-m){
          font-size: 12px;
          margin: 5px 0;
        }
      }
      .rating-brand-color{
        flex-wrap: wrap;
        .rating-block{
          @include screen($tablet-m){
width: 65%;
          }
          .icon-star{
            @include screen($tablet-m){
              font-size: 14px;
            }
          }
        }
        .item-brand{
          margin: 0 20px;
          font-weight: 600;
          @include screen($tablet-l){
            font-size: 14px;
          }
          @include screen($tablet-m){
            width: 80px;
            margin: 0;
            font-size: 12px;
          }
        }
        .item-color{
          @include screen($tablet-l){
            font-size: 14px;
          }
          @include screen($tablet-m){
width: 80px;
          }
        }
      }
    }

    .options-block{
      font-family: 'Roboto-Light', sans-serif;
      width: 20%;
      @include screen($tablet-m){
width: 30%;
      }
      .item-price{
        text-align: center;
        display: block;
        font-size: 28px;
        margin: 2px 0;
        @include screen($tablet-l){
          font-size: 24px;
        }
        @include screen($tablet-m){
          font-size: 18px;
        }
      }

      .buy-remove-block{
        margin: 10px 0;
        justify-content: center;
        @include screen($tablet-m){
margin: 4px 0;
        }
        .delete-button{
          font-size: 18px;
          color: white;
          background-color: #e74c3c;
          border-radius: 8px;
          padding: 8px 12px;
          border: none;
          line-height: 1;
          letter-spacing: 1px;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          margin-right: 10px;
          @include screen($tablet-m){
            font-size: 14px;
            padding: 6px 8px;
          }
          &:hover{
            transition: 0.5s ease-in-out;
            background-color: white;
            color: #e74c3c;
            outline: 1px solid #e74c3c;
            font-weight: 500;
          }
        }
        .buy-item-now{
          background-color: #59ab6e;
          border: none;
          border-radius: 8px;
          padding: 8px 12px;
          color: white;
          font-size: 18px;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          @include screen($tablet-m){
            font-size: 14px;
            padding: 6px 8px;
          }
          &:hover{
            transition: 0.5s ease-in-out;
            background-color: white;
            color: #59ab6e;
            outline: 2px solid #59ab6e;

          }
        }

      }
      .button-checkbox-block{
        justify-content: center;
        margin: 5px auto;
        font-family: 'Roboto-Light', sans-serif !important;
        align-items: center !important;
        .counting-block{
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          width: 90px;
          .count-button{
            border-radius: 5px;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
            @include screen($tablet-m){
padding: 3px 8px;
            }
            &:hover{
              background-color: #bcbcbc;
              transition: 0.3s ease-in-out;
            }
          }
          .counting-number{
            padding: 3px 10px;
            @include screen($tablet-m){
padding: 2px 8px;
            }
          }
        }
        .item-checkbox{
          width: 20px;
          height: 20px;
          margin: 5px;
          cursor: pointer;
          accent-color: #59ab6e;
          @include screen($tablet-m){
width: 15px;
            height: 20px;
          }
          &:checked:before{
            background-color: white !important;
          }
        }
      }
    }
  }

  .buy-button{
    padding: 8px 20px;
    font-size: 20px;
    color: white;
    background-color: #59ab6e;
    border: none;
    width: 120px;
    margin: 20px 0;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    @include screen($tablet-l){
      padding: 6px 16px;
      font-size: 18px;
    }
    @include screen($tablet){
      padding: 6px 12px;
      font-size: 16px;
    }
    @include screen($tablet-m){
      padding: 4px 10px;
      font-size: 14px;
    }
    &:hover{
      transition: 0.5s ease-in-out;
      background-color: white;
      outline: 2px solid #59ab6e;
      color: #59ab6e;
    }
    .icon-shopping-basket{
      margin-right: 10px;
    }
  }

}